body {
    font-family: Poppins;
    background-color: #FFE4D6;
}

h1{
    font-weight:800;
    font-size: 36px;
    line-height: 1.5px;
    color: #B0578D;
}

.container {
    max-width: 600px;
    margin: 100px auto;
}